<!DOCTYPE html>
<html>
<head>
  <title>Abex</title>
  <%= stylesheet_link_tag    "abex/application", media: "all" %>
  <%= javascript_include_tag "abex/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
